:root {
  --primary1: rgb(255, 191, 0); /*Amber*/
  --primary2: rgb(255, 215, 0); /*Gold*/
  --primary3: rgb(245, 245, 220); /*Beige*/

  --secondary1: rgb(65, 105, 225); /*Royal Blue*/
  --secondary2: rgb(70, 130, 180); /*Steel Blue*/
  --secondary3: rgb(135, 206, 235); /*Sky Blue*/

  --neutral1: rgb(0, 0, 0);
  --neutral2: rgb(75, 75, 75);
  --neutral3: rgb(150, 150, 150);
  --neutral4: rgb(220, 220, 220);
  --neutral5: rgb(255, 255, 255);
}

html {
  background-color: var(--neutral5);
  font-family: sans-serif;
}

code, pre {
  font-family: var(--font-fira-code);
}

@supports (font-variation-settings: normal) {
  code, pre { font-family: var(--font-fira-code); }
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch; /* Recommended for center vertical content*/
  padding: 1rem;
  line-height: 1.5;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: var(--font-fira-code);
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: var(--secondary1);
}

a:visited {
  color: var(--neutral3);
}

table {
  thead {
    tr {
      th {
        background-color: var(--neutral1);
        color: white;
        min-width: 1rem;
        padding: 0.5rem 1.5rem;
      }
    }
  }
  tbody {
    tr {
      &:nth-child(2n) {
        background-color: var(--neutral4);
      }
      td {
        padding: 0.5rem 0.5rem;
      }
    }
  }
}

