---
const publicSite = "exagram.github.io";
---
<footer>
  <p>&copy; {new Date().getFullYear()} <a href={`https://${publicSite}`}>{publicSite}</a> All rights reserved.</p>
</footer>
<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
  }

  a:hover {
    background-color: #6b21a8;
  }
</style>