---
---
<footer>
  <p>&copy; {new Date().getFullYear()} <a href="/" class="site-title">Exagram</a> All rights reserved.</p>
</footer>
<style>
  .site-title {
    color: var(--primary1);
    display: inline-block;
    font-family: var(--font-fira-code);
    font-weight: bold;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }
</style>