---
import { Font } from "astro:assets";
import 'normalize.css';
import '../styles/global.css';
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const { pageTitle } = Astro.props
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<Font cssVariable="--font-fira-code" />
	</head>
	<body>
		<Header />
		<h1>{pageTitle}</h1>
		<slot />
		<Footer />
		<script>
		import "../scripts/menu.js";
		</script>
	</body>
</html>
<style>
	h1 {
		text-align: left;
	}
@media screen and (min-width: 636px) {
	h1 {
		text-align: center;
	}
}
</style>